body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #87CEEB;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.gradient-hr {
  border: none;
  height: 1px;
  background-image: repeating-linear-gradient(to right, #FFC5C5 20%, #C5CAE9 50%, #FFFFFF 80%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

section {
  background-color: #F8C8DC;
  padding: 1em;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#player {
  margin: 0 auto;
  width: 50%; 
  text-align: center; 
}
#songList {
    margin-top: 20px;
}

#songList ul {
    list-style: none;
    padding: 0;
}

#songList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#songList li:hover {
    background-color: #ddd;
}
h1, h2, h3 {
  color: #333;
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  background-color: #87CEEB;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}
